#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* .your-gradient-bg {
  background: radial-gradient(100% 100% at 4% 3%, #E8C1C5 0%, transparent),
              radial-gradient(100% 100% at var(--g2-1-x-position) var(--g2-1-y-position), #E8C1C5 -32%, transparent),
              radial-gradient(100% 100% at var(--g2-2-x-position) var(--g2-2-y-position), #3E2F56 0%, transparent),
              #3E2F56;
  animation: g-2 10s ease-in-out infinite;
}

@property --g2-1-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 87.96875%;
}

@property --g2-1-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 91.1328125%;
}

@property --g2-2-x-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13.3984375%;
}

@property --g2-2-y-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 82.734375%;
}

:root {
  --g2-1-x-position: 87.96875%;
  --g2-1-y-position: 91.1328125%;
  --g2-2-x-position: 13.3984375%;
  --g2-2-y-position: 82.734375%;
}

@keyframes g-2 {
  50% {
    --g2-1-x-position: 15%;
    --g2-1-y-position: 15%;
    --g2-2-x-position: 61.21%;
    --g2-2-y-position: 13.75%;
  }
} */

/* @keyframes blob {
  0% {
    transform: scale(1) translate(0, 0);
  }
  33% {
    transform: scale(1.1) translate(10px, -10px);
  }
  66% {
    transform: scale(0.9) translate(-10px, 10px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
} */

